@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  background: #101726;
}

.main {
  justify-content: center;
  height: 100vh;
  padding-top: 120px;
}

.main h1 {
  font-size: 69px;
  margin-bottom: 160px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.main h1 strong {
  color: #2BD97C;
}

.main .element-info {
  margin-bottom: 16px;
  font-size: 12px;
  color: #fff;
  opacity: .5;
}

.element-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

a:hover {
  color: #fff;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a:after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(0, 200%, 0);
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
  color: #2BD97C;
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a i {
  margin-left: 8px;
}

a span {
  display: inline-block;
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(0, 200%, 0);
}

.huhu_solid_btn {
  background: #2BD97C;
  color: #101726;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(43, 217, 124, 0.2);
  box-shadow: 0px 5px 15px 3px rgba(109, 244, 172, 0.2);
}

.huhu_solid_btn:hover {
  background: #56e197;
}

.huhu_outline_btn {
  background: none;
  border: 2px solid #2BD97C;
  color: #fff;
}

.huhu_rounded {
  border-radius: 666px;
}

button {
  cursor: pointer;
  min-width: 200px;
  border: none;
  padding: 12px 32px;
  border-radius: 2px;
  transition: transform ease-out .2s;
}

button p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  pointer-events: none;
  transition: transform ease-out .4s;
}

button i {
  margin-left: 8px;
}
